<ion-header [translucent]="true">
  <ion-toolbar color="primary">


    <ion-title>
      MT Kittitap
    </ion-title>

    <ion-buttons slot="end"[routerLink]="['/mysetting/',{}]">
      <img style="width: 30px; height:30px; border-radius: 50%;"
        src="https://hilight.kapook.com/img_cms2/user/ammod/a9_19.jpg">
    </ion-buttons>

    <ion-buttons slot="end" [routerLink]="['/notify/',{}]">
      <ion-button>
        <img style="width: 30px; height:30px;"
          src="https://pngimage.net/wp-content/uploads/2018/05/alert-bell-icon-png-9.png">
      </ion-button>
      <ion-badge color="danger">2</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>






<ion-content>

  <ion-item class="titlebar" style="--background: #ffffff00;">
    <ion-row>
      <h2>สรุปรายงาน</h2>
    </ion-row>
  </ion-item>

  <ion-item class="titlebar" style="--background: #ffffff00;">
    <ion-row>
      <div>
        <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Select Date"></ion-datetime>
      </div>
    </ion-row>
  </ion-item>

  <ion-card>
   
    <ion-card-content>
      <ion-row class="center" style="border-bottom: groove;">
        <ion-col col-4>
          <ion-label>Time Period</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>Susscess Item**</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>Error Item</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="center" style="border-bottom: groove;">
        <ion-col col-4>
          <ion-label>ดึก</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-badge color="success">{{shift_n1}}</ion-badge>
        </ion-col>
        <ion-col col-4>
          <ion-badge color="danger">{{shift_n2}}</ion-badge>
        </ion-col>
      </ion-row>
      <ion-row class="center" style="border-bottom: groove;">
        <ion-col col-4>
          <ion-label>เช้า</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-badge color="success">{{shift_m1}}</ion-badge>
        </ion-col>
        <ion-col col-4>
          <ion-badge color="danger">{{shift_m2}}</ion-badge>
        </ion-col>
      </ion-row>
      <ion-row class="center">
        <ion-col col-4>
          <ion-label>บ่าย</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-badge color="success">{{shift_a1}}</ion-badge>
        </ion-col>
        <ion-col col-4>
          <ion-badge color="danger">{{shift_a2}}</ion-badge>
        </ion-col>
      </ion-row>
    </ion-card-content>


    <ion-card-content>
      <ion-row class="center" style="border-bottom: groove;">
        <ion-col col-4>
          <ion-label>Specificed Drug</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>Susscess Item**</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>Error Item</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="center" style="border-bottom: groove;">
        <ion-col col-4>
          <ion-label>STAT</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-badge color="success">{{success_stat}}</ion-badge>
        </ion-col>
        <ion-col col-4>
          <ion-badge color="danger">{{error_stat}}</ion-badge>
        </ion-col>
      </ion-row>
      <ion-row class="center" style="border-bottom: groove;">
        <ion-col col-4>
          <ion-label>PRN</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-badge color="success">{{success_prn}}</ion-badge>
        </ion-col>
        <ion-col col-4>
          <ion-badge color="danger">{{error_prn}}</ion-badge>
        </ion-col>
      </ion-row>
      
      <ion-row class="center" style="border-bottom: groove;">
        <ion-col col-4>
          <ion-label>Special Root</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-badge color="success">{{success_specialroute}}</ion-badge>
        </ion-col>
        <ion-col col-4>
          <ion-badge color="danger">{{error_specialroute}}</ion-badge>
        </ion-col>
      </ion-row>
      <ion-row class="center">
        <ion-col col-4>
          <ion-label>infusion</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-badge color="success">{{success_infusion}}</ion-badge>
        </ion-col>
        <ion-col col-4>
          <ion-badge color="danger">{{error_infusion}}</ion-badge>
        </ion-col>
      </ion-row>

    </ion-card-content>



  </ion-card>

</ion-content>