
.login-header{
    background: var(--theme-color);
    }
    .logo-img{
      display :block;
    }
    
    .titlebar{
      display: grid;
        justify-content: center;
    }
    .center {
      text-align: center;
    }