<ion-header>
    <ion-toolbar   color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>ตั้งค่าบัญชี</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>บัญชีของฉัน</ion-label>
      </ion-item-divider>
  
      <ion-item [routerLink]="['/profile/']">
        <ion-label>หน้าโปรไฟล์</ion-label>
      </ion-item>
      <ion-item [routerLink]="['/login/']">
        <ion-label>Logout</ion-label>
      </ion-item>
    </ion-item-group>
