
<ion-content style="--background: 000000;">
    <svg id="layer_top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#3c71d7" fill-opacity="1" d="M0,128L80,154.7C160,181,320,235,480,224C640,213,800,139,960,138.7C1120,139,1280,213,1360,250.7L1440,288L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>
    <div class="login">
        <!-- <h1 class="header-text ion-text-center">Mena Application</h1> -->
       <div style="justify-content: center;display: flex;  margin-bottom: 30px;">
            <img  style="width: 300px; " src="assets/img/name.png"/>
       </div>
              
  
        <form #form="ngForm">
            <ion-list class="ion-padding">
                <ion-item >
                    <ion-label>
                        <ion-icon name=""></ion-icon>
                    </ion-label>
                    <ion-input placeholder="ชื่อผู้ใช้งาน" type="text" name="username" [(ngModel)]="username" ></ion-input>
                </ion-item>

                <ion-item >
                    <ion-label>
                        <ion-icon name=""  ></ion-icon>
                    </ion-label>
                    <ion-input placeholder="รหัสผ่าน"  type="password" name="password" [(ngModel)]="password"></ion-input>
                </ion-item>

            </ion-list>
        </form>
    </div>
    <ion-grid id="lb_incorrect" hidden>
        <ion-row>
          <ion-col>
            <div class="ion-text-center" style="color: red;">
              ชื่อผู้ใช้งานหรือรหัสผ่าน ไม่ถูกต้อง
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid id="lb_blank" hidden>
        <ion-row>
          <ion-col>
            <div class="ion-text-center" style="color: red;">
              กรุณากรอก Username Password
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    <div class="ion-padding">
        <div style="padding-bottom: 10px;">
            <ion-button type="submit"  (click)="login()" expand="block" shape="round" size="large" color="">เข้าสู่ระบบ</ion-button>
            <!-- <ion-button type="submit" (click)="login()" expand="block" shape="round" size="large" color="">เข้าสู่ระบบ</ion-button> -->

        </div>
        <div>
            <ion-button type="button" [routerLink]="['/register/', []]" expand="block" shape="round" size="large" color="">ลงทะเบียน</ion-button>
        </div>
    </div>



</ion-content>

<ion-footer>
        <div class="ion-text-center">
                <small>
                      © 2020 VDEVSOFT Company Limited.<br/> All Right Reserved
              </small>
            </div>
</ion-footer>