<ion-tabs>

  <ion-tab-bar slot="bottom">


    <ion-tab-button tab="tab1">
        <ion-img src="/assets/img/menu_hospital.png" style="width: 30px;height: 30px;"></ion-img>
      <ion-label>HOME</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
        <ion-img src="/assets/img/menu_patient.png" style="width: 30px;height: 30px;"></ion-img>
      <ion-label>PATIEN</ion-label>
    </ion-tab-button>
    

    <ion-tab-button tab="tab3">
        <ion-img src="/assets/img/menu_medi.png" style="width: 30px;height: 30px;"></ion-img>
        <ion-label>SPECIFIC</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab4">
          <ion-img src="/assets/img/menu_report.png" style="width: 30px;height: 30px;"></ion-img>
          <ion-label>REPORT</ion-label>
        </ion-tab-button>



  </ion-tab-bar>

</ion-tabs>
