<ion-header [translucent]="true">
  <ion-toolbar color="primary">


    <ion-title>
      PATIENT {{orderId}}
    </ion-title>

    <ion-buttons slot="end"[routerLink]="['/mysetting/',{}]">
      <img style="width: 30px; height:30px; border-radius: 50%;"
        src="https://hilight.kapook.com/img_cms2/user/ammod/a9_19.jpg">
    </ion-buttons>

    <ion-buttons slot="end" [routerLink]="['/notify/',{}]">
      <ion-button>
        <img style="width: 30px; height:30px;"
          src="https://pngimage.net/wp-content/uploads/2018/05/alert-bell-icon-png-9.png">
      </ion-button>
      <ion-badge color="danger">2</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
        <ion-searchbar ></ion-searchbar>
    </ion-item>
 



  <ion-item *ngFor="let item of dataitem">

    <img *ngIf="item.sex == 1" slot="start" style="height: 50px;width: 50px; border-radius: 50%;"
      src="https://th.seaicons.com/wp-content/uploads/2015/08/People-Patient-Male-icon.png">  
    <img *ngIf="item.sex == 2" slot="start" style="height: 50px;width: 50px; border-radius: 50%;"
      src="https://download.seaicons.com/download/i78667/icons-land/medical/icons-land-medical-people-patient-female.ico"> 
    <ion-label>
      <h2>AN {{item.an}}</h2>
      <h3>{{item.patient}}</h3>
      <p>อายุ  {{item.age_y}} ปี / เตียง  {{item.bedno}}  </p>
      <p>ห้อง  {{item.roomno}} / HN  {{item.hn}}  </p>
      <div class="marbutton">
        <ion-button color="danger" [routerLink]="['/drug-allergy/',{patientname:item.patient}]">แพ้ยา</ion-button>
        <ion-button [routerLink]="['/mar-detail/',{patientname:item.patient}]">MAR</ion-button>
      </div>
    </ion-label>

  </ion-item>












  
</ion-content>