<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>บัญชีของฉัน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  


    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="takePicture()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>



    <ion-item>
      <ion-label position="floating">คำนำหน้า</ion-label>
      <ion-select value="นางสาว" okText="เลือก" cancelText="ยกเลิก" interface="action-sheet">
        <ion-select-option value="นาย">นาย</ion-select-option>
        <ion-select-option value="นาง">นาง</ion-select-option>
        <ion-select-option value="นางสาว">นางสาว</ion-select-option>
      </ion-select>

    </ion-item>
    <ion-item>
      <ion-label position="floating">ชื่อ</ion-label>
      <ion-input value="ดวงรัตน์" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">นามสกุล</ion-label>
      <ion-input  value="ตรีทิพยนิภา" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input  value="dd123"  type="text" disabled></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input  value="dd123"  type="text" disabled></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">อีเมล</ion-label>
      <ion-input  value="doungrat123@hotmail.com"  type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">เบอร์โทรศัพท์</ion-label>
      <ion-input value="085-554-4446"  type="text"></ion-input>
    </ion-item>
  
</ion-content>
