<ion-header [translucent]="true">
    <ion-toolbar color="primary">
  
  
      <ion-title >
      MT Kittitap
      </ion-title>
  
      <ion-buttons slot="end"[routerLink]="['/mysetting/',{}]">
        <img style="width: 30px; height:30px; border-radius: 50%;"
          src="https://hilight.kapook.com/img_cms2/user/ammod/a9_19.jpg">
      </ion-buttons>
  
      <ion-buttons slot="end" [routerLink]="['/notify/',{}]">
        <ion-button>
          <img style="width: 30px; height:30px;"
            src="https://pngimage.net/wp-content/uploads/2018/05/alert-bell-icon-png-9.png">
        </ion-button>
        <ion-badge color="danger">2</ion-badge>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


<ion-content>
    <ion-item class="titlebar" style="--background: #ffffff00;">
      <ion-row>
        <ion-col><h2>{{now_date}}</h2></ion-col>
        <ion-col><h2>{{now_time}} น.</h2></ion-col>
      </ion-row>
    </ion-item>
    <ion-item class="titlebar" style="--background: #ffffff00;">
      <ion-row>
        <h2>ผู้ป่วยในระบบ {{all_patient}} ราย</h2>
      </ion-row>
    </ion-item>
    <ion-card>
      <ion-card-header>
        <ion-item lines="none">
          <ion-label style="text-align: center;">
            <h4>รายงานยอดผู้ป่วยในระบบ</h4>
          </ion-label>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
          <ion-row class="center"  style="border-bottom: groove;">
              <ion-col col-4>
              <ion-label >Time Period</ion-label>
            </ion-col>
            <ion-col col-4>
              <ion-label >Drug Item**</ion-label>
            </ion-col>
              <ion-col col-4>
              <ion-label >Susscess Item</ion-label>
            </ion-col>
          </ion-row>
          
          <ion-row class="center" style="border-bottom: groove;" >
              <ion-col col-4>
              <ion-label >Stat</ion-label>
            </ion-col>
            <ion-col col-4>
                <ion-badge color="primary" [routerLink]="['/assitant/']">{{all_stat}}</ion-badge>
            </ion-col>
              <ion-col col-4>
              <ion-badge color="success" [routerLink]="['/assitant/']">{{success_stat}}</ion-badge>
            </ion-col>
          </ion-row>
          <ion-row  class="center" style="border-bottom: groove;" >
              <ion-col col-4>
              <ion-label >PRN</ion-label>
            </ion-col>
            <ion-col col-4>
                <ion-badge color="primary" [routerLink]="['/assitant/']">{{all_prn}}</ion-badge>
            </ion-col>
              <ion-col col-4>
              <ion-badge color="success" [routerLink]="['/assitant/']">{{success_prn}}</ion-badge>
            </ion-col>
          </ion-row>
          <ion-row class="center" style="border-bottom: groove;" >
              <ion-col col-4>
              <ion-label >Special Root</ion-label>
            </ion-col>
            <ion-col col-4>
                <ion-badge color="primary" [routerLink]="['/assitant/']">{{all_specialroute}}</ion-badge>
            </ion-col>
              <ion-col col-4>
              <ion-badge color="success" [routerLink]="['/assitant/']">{{success_specialroute}}</ion-badge>
            </ion-col>
          </ion-row>
          <ion-row class="center"  style="border-bottom: groove;">
            <ion-col col-4>
            <ion-label >Infusion</ion-label>
          </ion-col>
          <ion-col col-4>
              <ion-badge color="primary" [routerLink]="['/assitant/']">{{all_infusion}}</ion-badge>
          </ion-col>
            <ion-col col-4>
            <ion-badge color="success" [routerLink]="['/assitant/']">{{success_infusion}}</ion-badge>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  
  </ion-content>
  
  
  