ion-content ion-toolbar {
  --background: translucent;
}


.login-header{
  background: var(--theme-color);
  }
  .logo-img{
    display :block;
  }
  
  .titlebar{
    display: grid;
      justify-content: center;
  }
  .center {
    text-align: center;
  }
  
  .toolbar-background{
    background-color: cornflowerblue;
  }