<ion-header [translucent]="true">
    <ion-toolbar   color="primary">
        <ion-buttons slot="start">
            <ion-back-button ></ion-back-button>
        </ion-buttons>
      <ion-title>
  HOLD DRUG
      </ion-title>
      <ion-buttons slot="end"[routerLink]="['/mysetting/',{}]">
        <img style="width: 30px; height:30px; border-radius: 50%;"
          src="https://hilight.kapook.com/img_cms2/user/ammod/a9_19.jpg">
      </ion-buttons>
  
      <ion-buttons slot="end" [routerLink]="['/notify/',{}]">
        <ion-button>
          <img style="width: 30px; height:30px;"
            src="https://pngimage.net/wp-content/uploads/2018/05/alert-bell-icon-png-9.png">
        </ion-button>
        <ion-badge color="danger">2</ion-badge>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


<ion-content>
  
      <ion-list>
          <ion-radio-group>
            <ion-list-header>
              <ion-label><h2>ระบุเหตุผล :</h2></ion-label>
            </ion-list-header>
     
            <ion-item>
              <ion-label>ยาส่งผลให้เกิด side effect</ion-label>
              <ion-radio slot="start" value="1" checked></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>มีข้อห้ามในการใช้ยา</ion-label>
              <ion-radio slot="start" value="2"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>สงสัยแพ้ยา</ion-label>
              <ion-radio slot="start" value="3"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>รอผล Lab</ion-label>
                <ion-radio slot="start" value="4"></ion-radio>
              </ion-item>

              <ion-item>
                  <ion-label>NPO อยู่</ion-label>
                  <ion-radio slot="start" value="5"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>ยามีผลต่อร่างกาย อวัยวะ</ion-label>
                    <ion-radio slot="start" value="6"></ion-radio>
                  </ion-item>
                <ion-item>
                    <ion-label>อื่นๆ</ion-label>
                    <ion-radio slot="start" value="0"></ion-radio>
                  </ion-item>
          </ion-radio-group>
        </ion-list>


</ion-content>

<ion-footer>
    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <ion-button expand="block" color="medium" routerLink="/assitant/">
                    <ion-icon name="arrow-back"></ion-icon> ย้อนกลับ
                </ion-button>
            </ion-col>
            <ion-col size="6">
                <ion-button expand="block" color="success"  routerLink="/assitant/" (click)="confirmOrder()">
                    <ion-icon name="checkmark-circle"></ion-icon> ตกลง
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>
