<ion-header [translucent]="true">
  <ion-toolbar   color="primary"> 
      <ion-buttons slot="start">
          <ion-back-button ></ion-back-button>
      </ion-buttons>
    <ion-title>
     รายการแพ้ยา
    </ion-title>
    <ion-buttons slot="end"[routerLink]="['/mysetting/',{}]">
      <img style="width: 30px; height:30px; border-radius: 50%;"
        src="https://hilight.kapook.com/img_cms2/user/ammod/a9_19.jpg">
    </ion-buttons>

    <ion-buttons slot="end" [routerLink]="['/notify/',{}]">
      <ion-button>
        <img style="width: 30px; height:30px;"
          src="https://pngimage.net/wp-content/uploads/2018/05/alert-bell-icon-png-9.png">
      </ion-button>
      <ion-badge color="danger">2</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content>

    <ion-item>
  
        <img slot="start" style="height: 50px;width: 50px; border-radius: 50%;"
          src="https://pbs.twimg.com/profile_images/1143471173147099137/Wz2HhoC0_400x400.jpg">
  
      <ion-label>
        <h2>AN : 1212312121</h2>
        <h3>นาย กิตติเทพ กิตติวานิช</h3>
        <p>อายุ : 25 ปี / เตียง : VIP1 / เพศ : ชาย</p>
          <p>อาการที่แพ้ : คลื่นใส้ อาเจียร มีผื่นขึ้นตามร่างกาย</p>
      </ion-label>
    
    </ion-item>

    <ion-item style="--background: #ff000014;">
        <img slot="start" style="height: 50px;width: 50px; border-radius: 50%;"
          src="https://medthai.com/images/2016/10/%E0%B9%82%E0%B8%81%E0%B9%80%E0%B8%9F%E0%B8%99400.jpg">
      <ion-label>
        <h2> ไอบูโพรเฟน (Ibuprofen) </h2>
        <p>อาการที่แพ้ : ร่างกายอ่อนเพลีย ปวดหลัง ปวดกล้ามเนื้อ</p>
      </ion-label>
    </ion-item>
  
  <ion-item style="--background: #ff000014;">
        <img slot="start" style="height: 50px;width: 50px; border-radius: 50%;"
          src="https://dn.lnwfile.com/_/dn/_raw/eg/h2/ml.jpg">
      <ion-label>
        <h2>Ampicillin</h2>
        <p>อาการที่แพ้ : มีผื่นคันขึ้นตามผิวหนัง หายใจลำบาก มีอาการบวมที่ลิ้น ริมฝีปาก ใบหน้า หรือลำคอ ปวดท้องอย่างรุนแรง ท้องเสียมาก หรืออุจจาระเป็นเลือด</p>
      </ion-label>
    </ion-item>
   
    <ion-item style="--background: #ff000014;">
          <img slot="start" style="height: 50px;width: 50px; border-radius: 50%;"
            src="https://img.kapook.com/u/2015/wanchalerm/Health_11_58/y3_1.jpg">
        <ion-label>
          <h2>cloxacillin</h2>
          <p>อาการที่แพ้ : คลื่นใส้ อาเจียร มีผื่นขึ้นตามร่างกาย</p>
        </ion-label>
      </ion-item>
      <ion-item style="--background: #ff000014;">
          <img slot="start" style="height: 50px;width: 50px; border-radius: 50%;"
            src="https://www.chonburipost.com/wp-content/uploads/86f97b18a.jpg">
        <ion-label>
          <h2>พาราเซตาม่อน</h2>
          <p>อาการที่แพ้ : ผื่นแดง บวมแดง ความดันโลหิตต่ำ และหัวใจเต้นแรงได้ </p>
        </ion-label>
      </ion-item>
</ion-content>




<!--   
<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/tabs/tab1/']">
          <ion-img src="/assets/img/menu_hospital.png" style="width: 30px;height: 30px;"></ion-img>
        <ion-label>HOME</ion-label>
      </ion-tab-button>
      <ion-tab-button  [routerLink]="['/tabs/tab2']" >
          <ion-img src="/assets/img/menu_patient.png" style="width: 30px;height: 30px;"></ion-img>
        <ion-label>PATIEN</ion-label>
      </ion-tab-button>
      <ion-tab-button  [routerLink]="['/tabs/tab3/']" >
          <ion-img src="/assets/img/menu_medi.png" style="width: 30px;height: 30px;"></ion-img>
          <ion-label>SPECIFIC</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/tabs/tab4']" >
            <ion-img src="/assets/img/menu_report.png" style="width: 30px;height: 30px;"></ion-img>
            <ion-label>REPORT</ion-label>
          </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> -->

