<ion-header [translucent]="true">
    <ion-toolbar   color="primary">
        <ion-buttons slot="start">
            <ion-back-button ></ion-back-button>
        </ion-buttons>
  
      <ion-title>
       จัดการผู้ป่วย
      </ion-title>
  
      <ion-buttons slot="end"[routerLink]="['/mysetting/',{}]">
        <img style="width: 30px; height:30px; border-radius: 50%;"
          src="https://hilight.kapook.com/img_cms2/user/ammod/a9_19.jpg">
      </ion-buttons>
  
      <ion-buttons slot="end" [routerLink]="['/notify/',{}]">
        <ion-button>
          <img style="width: 30px; height:30px;"
            src="https://pngimage.net/wp-content/uploads/2018/05/alert-bell-icon-png-9.png">
        </ion-button>
        <ion-badge color="danger">2</ion-badge>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>



<ion-content>
  


    
    <ion-item>
        <ion-label>เลือกเวร</ion-label>
        <ion-select value="เช้า" okText="ยืนยัน" cancelText="ยกเลิก">
          <ion-select-option value="ดึก">ดึก</ion-select-option>
          <ion-select-option value="เช้า">เช้า</ion-select-option>
          <ion-select-option value="บ่าย">บ่าย</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
          <ion-label>เลือกช่วงเวลา</ion-label>
          <ion-select value="08:00" okText="ยืนยัน" cancelText="ยกเลิก">
            <ion-select-option value="00:00">00:00</ion-select-option>
            <ion-select-option value="01:00">00:00</ion-select-option>
            <ion-select-option value="02:00">02:00</ion-select-option>
            <ion-select-option value="03:00">03:00</ion-select-option>
            <ion-select-option value="04:00">04:00</ion-select-option>
            <ion-select-option value="05:00">05:00</ion-select-option>
            <ion-select-option value="06:00">06:00</ion-select-option>
            <ion-select-option value="07:00">07:00</ion-select-option>
            <ion-select-option value="08:00">08:00</ion-select-option>
            <ion-select-option value="09:00">09:00</ion-select-option>
            <ion-select-option value="10:00">10:00</ion-select-option>
            <ion-select-option value="11:00">11:00</ion-select-option>
            <ion-select-option value="12:00">12:00</ion-select-option>
            <ion-select-option value="13:00">13:00</ion-select-option>
            <ion-select-option value="14:00">14:00</ion-select-option>
            <ion-select-option value="15:00">15:00</ion-select-option>
            <ion-select-option value="16:00">16:00</ion-select-option>
            <ion-select-option value="17:00">17:00</ion-select-option>
            <ion-select-option value="18:00">18:00</ion-select-option>
            <ion-select-option value="19:00">19:00</ion-select-option>
            <ion-select-option value="20:00">20:00</ion-select-option>
            <ion-select-option value="21:00">21:00</ion-select-option>
            <ion-select-option value="22:00">22:00</ion-select-option>
            <ion-select-option value="23:00">23:00</ion-select-option>
          </ion-select>
        </ion-item>

     
        <ion-item>

            <img slot="start" style="height: 50px;width: 50px; border-radius: 50%;"
              src="https://pbs.twimg.com/profile_images/1143471173147099137/Wz2HhoC0_400x400.jpg">
        
            <ion-label>
              <h2>AN : 1212312121</h2>
              <h3>นาย กิตติเทพ กิตติวานิช</h3>
              <p>อายุ : 25 ปี / เตียง : VIP1 / เพศ : ชาย</p>
              <h2>รับยา : 13/03/2562 08:00 น.</h2>
              <p> ไอบูโพรเฟน (Ibuprofen) </p>
              <p>(Ibuprofen) 300mg 1x1 pc </p>
              <div class="marbutton">
                <ion-button color="danger" [routerLink]="['/holddrug/']" >hold</ion-button>
                <ion-button [routerLink]="['/refuse/']">refuse</ion-button>
                <ion-button slot="end" color="success" [routerLink]="['/takedrug/']">take</ion-button>
              </div>

            </ion-label>

          </ion-item>



</ion-content>











  
<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/tabs/tab1/']">
          <ion-img src="/assets/img/menu_hospital.png" style="width: 30px;height: 30px;"></ion-img>
        <ion-label>HOME</ion-label>
      </ion-tab-button>
      <ion-tab-button  [routerLink]="['/tabs/tab2']" >
          <ion-img src="/assets/img/menu_patient.png" style="width: 30px;height: 30px;"></ion-img>
        <ion-label>PATIEN</ion-label>
      </ion-tab-button>
      <ion-tab-button  [routerLink]="['/tabs/tab3/']" >
          <ion-img src="/assets/img/menu_medi.png" style="width: 30px;height: 30px;"></ion-img>
          <ion-label>SPECIFIC</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/tabs/tab4']" >
            <ion-img src="/assets/img/menu_report.png" style="width: 30px;height: 30px;"></ion-img>
            <ion-label>REPORT</ion-label>
          </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
