<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>บัญชีของฉัน</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>

      <!-- <ion-item>
        <div class="profile-img">
          <div>
            <div class="content" *ngIf="!currentImage">
              <img *ngIf="!userImage" src="../../../assets/images/149071.svg">
              <img *ngIf="userImage" src="{{pathImg + userImage}}" onError="src = '../../../assets/images/149071.svg'"
                (click)="openModalImagesViewer(pathImg, userImage)">
            </div>
            <div class="content" *ngIf="currentImage">
              <img [src]="currentImage">
            </div>
            <div class="action">
              <div class="button" (click)="selectImage()">
                <ion-icon name="camera"></ion-icon>
              </div>
            </div>
          </div>
        </div>
      </ion-item> -->
  
  <ion-item>
        <div class="profile-img">
          <div>
            <div class="content" *ngIf="!currentImage">
              <img src="https://hilight.kapook.com/img_cms2/user/ammod/a9_19.jpg">
            </div>
          </div>
        </div>
      </ion-item>


      <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button (click)="takePicture()">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
      </ion-fab>



      <ion-item>
        <ion-label position="floating">คำนำหน้า</ion-label>
        <ion-select value="นางสาว" okText="เลือก" cancelText="ยกเลิก" interface="action-sheet">
          <ion-select-option value="นาย">นาย</ion-select-option>
          <ion-select-option value="นาง">นาง</ion-select-option>
          <ion-select-option value="นางสาว">นางสาว</ion-select-option>
        </ion-select>

      </ion-item>
      <ion-item>
        <ion-label position="floating">ชื่อ</ion-label>
        <ion-input value="ดวงรัตน์" type="text"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">นามสกุล</ion-label>
        <ion-input  value="ตรีทิพยนิภา" type="text"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input  value="dd123"  type="text" disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input  value="dd123"  type="text" disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">อีเมล</ion-label>
        <ion-input  value="doungrat123@hotmail.com"  type="email"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">เบอร์โทรศัพท์</ion-label>
        <ion-input value="085-554-4446"  type="text"></ion-input>
      </ion-item>
     

  </ion-content>
  
  <!-- <ion-footer>
  
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button expand="block" color="medium" routerLink="/tabs/my/">
            <ion-icon name="arrow-back"></ion-icon> ย้อนกลับ
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" color="kasetdeal" (click)="saveData()">
            <ion-icon name="checkmark-circle"></ion-icon> บันทึก
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
   -->