<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>
      คนไข้ไม่รับยา
    </ion-title>
    <ion-buttons slot="end">
      <img style="width: 30px; height:30px; border-radius: 50%;"
        src="https://hilight.kapook.com/img_cms2/user/ammod/a9_19.jpg">
    </ion-buttons>
    <ion-buttons slot="end" [routerLink]="['/notify/',{}]">
      <ion-button>
        <img style="width: 30px; height:30px;"
          src="https://pngimage.net/wp-content/uploads/2018/05/alert-bell-icon-png-9.png">
      </ion-button>
      <ion-badge color="danger">2</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list>

    <ion-item>
      <ion-label>ระบุเหตุผล :</ion-label>
      <ion-textarea rows="15" cols="20" placeholder="Enter any notes here..."></ion-textarea>
    </ion-item>

  </ion-list>


</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" color="medium" routerLink="/assitant/">
          <ion-icon name="arrow-back"></ion-icon> ย้อนกลับ
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" color="success" routerLink="/assitant/" (click)="confirmOrder()">
          <ion-icon name="checkmark-circle"></ion-icon> ตกลง
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>