
<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>แจ้งเตือน</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
      <ion-item lines="full" style="--background:#fffc091c">
        <img  slot="start" class="img-circle" src="/assets/icon/alert.gif" style="widows: 30px;; height:30px" />
        <!-- <ion-icon name="flash" slot="start" class="icon-circle" color="danger"></ion-icon> -->
        <ion-label>
            <p>เร่งด่วน</p>
            <p style="white-space: initial;">คุณวสุรัส  วัฒนวงสุโข เลือดไหลไม่หยุด นำตัวส่งห้อง ICU ด่วน</p>
            <p><small>15/03/2020 10:00</small></p>
        </ion-label>
    </ion-item>
    <ion-item lines="full" style="--background:#fffc091c">
        <ion-icon name="pricetags" slot="start" class="icon-circle" color="warning"></ion-icon>
        <ion-label>
            <p>แจ้งเตือนการจ่ายยา</p>
            <p style="white-space: initial;">คุณกิตติเทพ  กิตติวานิช รอจ่ายยาที่เตียง ชาย 1 ภายในเวลา 10:00 น.</p>
            <p><small>10/03/20202019 10:00</small></p>
        </ion-label>
    </ion-item>
    <ion-item lines="full">
        <ion-icon name="chatbubbles" slot="start" class="icon-circle" color="success"></ion-icon>
        <ion-label>
            <p>ข้อคความจากคุณหมอ</p>
            <p style="white-space: initial;">คุณพญาบาล รบกวนมาที่ห้องตรวจ 101 ด้วยครับ </p>
            <p><small>05/03/2020 12:10</small></p>
        </ion-label>
    </ion-item>
</ion-content>
