<ion-header [translucent]="true">
    <ion-toolbar   color="primary">
      <ion-buttons slot="start">
        <ion-back-button ></ion-back-button>
      </ion-buttons>
      <ion-title>
        จ่ายยา
      </ion-title>
      <ion-buttons slot="end">
        <img style="width: 30px; height:30px; border-radius: 50%;"
          src="https://hilight.kapook.com/img_cms2/user/ammod/a9_19.jpg">
      </ion-buttons>
      <ion-buttons slot="end" [routerLink]="['/notify/',{}]">
        <ion-button>
          <img style="width: 30px; height:30px;"
            src="https://pngimage.net/wp-content/uploads/2018/05/alert-bell-icon-png-9.png">
        </ion-button>
        <ion-badge color="danger">2</ion-badge>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content>
      <ion-item>
          <img slot="start" style="height: 50px;width: 50px; border-radius: 50%;"
            src="https://pbs.twimg.com/profile_images/1143471173147099137/Wz2HhoC0_400x400.jpg">
          <ion-label>
            <h2>AN : 1212312121</h2>
            <h3>นาย กิตติเทพ กิตติวานิช</h3>
            <p>อายุ : 25 ปี / เตียง : VIP1 / เพศ : ชาย</p>
          </ion-label>

        </ion-item>



        <ion-item>

            <img slot="start" style="height: 50px;width: 50px; border-radius: 50%;"
              src="https://img.kapook.com/u/2015/wanchalerm/Health_11_58/y3_1.jpg">
        
            <ion-label>
              <h2>รับยา : 13/03/2562 08:00 น.</h2>
              <p> ไอบูโพรเฟน (Ibuprofen) </p>
              <p>(Ibuprofen) 300mg 1x1 pc </p>
             
            </ion-label>

          </ion-item>

         
  
  
  </ion-content>
  
  <ion-footer>
      <ion-item>
          <ion-label >
            <p style="color: red; font-size: 12px;"> ** กรุณาตรวจสอบข้อมูลให้ถูกต้อง scan qrcode เพื่อยืนยัน **</p>
          </ion-label>
        </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button expand="block" color="medium" routerLink="/assitant/">
            <ion-icon name="arrow-back"></ion-icon> ย้อนกลับ
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" color="success" routerLink="/assitant/" (click)="confirmOrder()">
            <ion-icon name="qr-code" ></ion-icon> ยืนยัน
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>